<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find astra_launch)/launch/astra.launch"></include>

  <include file="$(find rplidar_ros)/launch/rplidar.launch"></include>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find rosbot_description)/urdf/rosbot.xacro'"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node pkg="rosbot_description" type="serial_bridge.py" name="serial_bridge" output="screen">
    <param name="port" value="/dev/ttyCORE2" />
    <param name="baud" value="525000" />
  </node>

</launch>
