<launch>

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="deadzone" value="0.01" />
        <param name="autorepeat_rate" value="10" />
        <param name="coalesce_interval" value="0.01"/>
    </node>

    <node name="teleop_node" pkg="teleop_twist_joy" type="teleop_node" required="true" output="screen">
        <param name="axis_linear" value="1"/>
        <param name="scale_linear" value="0.4"/>
        <param name="scale_linear_turbo" value="8"/>
        <param name="axis_angular" value="3"/>
        <param name="scale_angular" value="4.5"/>
        <param name="enable_button" value="5"/>
        <param name="enable_turbo_button" value="7"/>
    </node>

</launch>