<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="orbbec_astra" params="xyz rpy parent_link:=base_link">
    <link name="orbbec_astra_link">
      <visual>
        <geometry>
            <mesh filename="file://$(find rosbot_description)/models/rosbot_base/meshes/components/astra.dae" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.01 0 0.025" rpy="${pi/2} 0 ${pi/2}"/>
      </visual>

      <collision>
        <geometry>
          <box size="0.165 0.04 0.05" />
        </geometry>
        <origin xyz="-0.01 0 0.025" rpy="0 0 ${pi/2}"/>
      </collision>

      <inertial>
          <mass value="0.105" />
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
      </inertial>
    </link>

    <link name="orbbec_astra_depth_link"></link>
    <link name="orbbec_astra_depth_refference_link"></link>

    <joint name="body_link_to_orbbec_astra_link_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="orbbec_astra_link" />
    </joint>

    <joint name="orbbec_astra_depth_link_joint" type="fixed">
      <origin xyz="0.01 0 0.035" rpy="0.0 ${pi/2} 0.0" />
      <parent link="orbbec_astra_link" />
      <child link="orbbec_astra_depth_link" />
    </joint>

    <joint name="orbbec_astra_depth_link_refference_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${pi/2} ${-pi/2} 0.0" />
      <parent link="orbbec_astra_depth_link" />
      <child link="orbbec_astra_depth_refference_link" />
    </joint>

    <gazebo reference="orbbec_astra_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="orbbec_astra_depth_refference_link">
      <sensor type="depth" name="orbbec_astra_camera">
        <always_on>1</always_on>
        <update_rate>10</update_rate>

        <camera name="camera">
          <distortion>
            <k1>0.07</k1>
            <k2>0.00</k2>
            <k3>0.00</k3>
            <p1>0.00</p1>
            <p2>0.00</p2>
            <center>0.0 0.0</center>
          </distortion>
        </camera>

        <plugin name="rgbd_camera" filename="libgazebo_ros_camera.so">
          <ros>
            <namespace>orbbec_astra_camera</namespace>
            <argument>--ros-args --remap custom_camera/image_raw:=rgb/image_raw</argument>
            <argument>--ros-args --remap custom_camera/image_depth:=depth/image_raw</argument>
            <argument>--ros-args --remap custom_camera/camera_info:=rgb/camera_info</argument>
            <argument>--ros-args --remap custom_camera/camera_info_depth:=depth/camera_info</argument>
            <argument>--ros-args --remap custom_camera/points:=depth/points</argument>
          </ros>

          <camera_name>camera</camera_name>
          <frame_name>orbbec_astra_depth_link</frame_name>
          <hack_baseline>0.07</hack_baseline>

          <min_depth>0.6</min_depth>
          <max_depth>8.0</max_depth>
        </plugin>
      </sensor>
    </gazebo> 
  </xacro:macro>
</robot>