<?xml version='1.0'?>
<robot name="rosbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_gpu" default="false" />

  <xacro:include filename="$(find rosbot_description)/models/rosbot_base/rosbot_macro.urdf.xacro" ns="husarion" />

  <xacro:husarion.rosbot_robot use_sim="$(arg use_sim)" />

  <xacro:include filename="$(find rosbot_description)/models/rosbot_base/components/rplidar_a2.gazebo.xacro" ns="lidar" />
  <xacro:lidar.rplidar_a2 parent_link="cover_link" xyz="0.02 0.0 0.0" rpy="0.0 0.0 0.0" use_gpu="$(arg use_gpu)" />

  <xacro:include filename="$(find rosbot_description)/models/rosbot_base/components/orbbec_astra.gazebo.xacro" ns="camera" />
  <xacro:camera.orbbec_astra parent_link="camera_link" xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />

</robot>