<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="controller">
    <webots>
      <plugin type="webots_ros2_control::Ros2Control" />
      <plugin type="webots_ros2_driver::Ros2IMU">
      <enabled>true</enabled>
      <topicName>/imu_broadcaster/imu</topicName>
      <alwaysOn>true</alwaysOn>
      <frameName>imu_link</frameName>
      <gyroName>imu gyro</gyroName>
      <accelerometerName>imu accelerometer</accelerometerName>
      <inertialUnitName>imu inertial_unit</inertialUnitName>
      </plugin>
    </webots>
  </xacro:macro>

</robot>
