<?xml version="1.0"?>
<launch>

  <include file="$(find rosbot_bringup)/launch/rosbot.launch">
  <arg name="gui" value="true"/>
  <arg name="world" value="$(find rosbot_gazebo)/worlds/turtlebot_playground.world"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find rosbot_description)/urdf/rosbot.xacro'"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosbot_description)/rviz/rosbot.rviz" required="true" output="screen"/>

</launch>