<?xml version="1.0" encoding="UTF-8"?>
<!-- ========= launch for docker version ======== -->
<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find rosbot_description)/urdf/rosbot.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node pkg="tf" type="static_transform_publisher" name="imu_publisher" args="0 0 0.02 0 0 0 base_link imu_link 100" />

    <node pkg="rosbot_description" type="serial_bridge.py" name="serial_bridge" output="screen" respawn="true">
        <param name="port" value="$(optenv SERIAL_PORT /dev/ttyS1)" />
        <param name="baud" value="525000" />
    </node>

    <include file="$(find rosbot_ekf)/launch/message_conversion.launch"/>

    <include file="$(find rosbot_ekf)/launch/rosbot_ekf.launch"/>

</launch>