<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="world" default="empty"/>


  <include file="$(find rosbot_bringup)/launch/rosbot_gazebo.launch"></include>

  <include file="$(find rosbot_gazebo)/launch/rosbot_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world" value="$(arg world)"/>
  </include>

</launch>
