<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- body defining macro -->
  <xacro:macro name="body" params="wheel_radius mecanum use_gpu tf_prefix">
    <xacro:include filename="$(find rosbot_description)/urdf/components/vl53lox.urdf.xacro" ns="range_sensor" />

    <xacro:if value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="" />
    </xacro:if>
    <xacro:unless value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="${tf_prefix}_" />
    </xacro:unless>

    <link name="${tf_prefix_ext}base_link" />

    <joint name="${tf_prefix_ext}base_to_${tf_prefix_ext}body_joint" type="fixed">
      <origin xyz="0.0 0.0 ${wheel_radius}" rpy="0.0 0.0 0.0" />
      <parent link="${tf_prefix_ext}base_link" />
      <child link="${tf_prefix_ext}body_link" />
    </joint>

    <link name="${tf_prefix_ext}body_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find rosbot_description)/meshes/body.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.0 0.0 -0.0173" rpy="${pi/2} 0.0 ${pi/2}" />
        <material name="White">
          <color rgba="1.0 1.0 1.0 1.0" />
        </material>
      </visual>

      <collision>
        <geometry>
          <box size="0.197 0.150 0.080" />
        </geometry>
        <origin xyz="0.0 0.0 ${0.040 - 0.02}" rpy="0.0 0.0 0.0" />
      </collision>

      <inertial>
        <mass value="1.728" />
        <inertia ixx="0.004162" ixy="0.0"     ixz="0.0"
                                iyy="0.00651" iyz="0.0"
                                              izz="0.008828" />
        <origin xyz="0.0 0.0 ${0.040 - 0.02}" rpy="0.0 0.0 0.0" />
      </inertial>
    </link>
    <gazebo reference="${tf_prefix_ext}body_link">
      <material>Gazebo/White</material>
    </gazebo>

    <joint name="${tf_prefix_ext}body_to_${tf_prefix_ext}cover_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0603" rpy="0.0 0.0 0.0" />
      <parent link="${tf_prefix_ext}body_link" />
      <child link="${tf_prefix_ext}cover_link" />
    </joint>

    <link name="${tf_prefix_ext}cover_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find rosbot_description)/meshes/cover.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.0 0.0 -0.002" rpy="${pi/2} 0.0 ${pi/2}" />
        <material name="Red">
          <color rgba="0.8 0.0 0.0 1.0" />
        </material>
      </visual>
      <gazebo reference="${tf_prefix_ext}cover_link">
        <material>Gazebo/Red</material>
      </gazebo>
    </link>

    <joint name="${tf_prefix_ext}body_to_${tf_prefix_ext}imu_joint" type="fixed">
      <origin xyz="0.003 -0.0495 0.04332" rpy="0.0 0.0 0.0" />
      <parent link="${tf_prefix_ext}body_link" />
      <child link="${tf_prefix_ext}imu_link" />
    </joint>

    <link name="${tf_prefix_ext}imu_link" />

    <joint name="${tf_prefix_ext}body_to_${tf_prefix_ext}camera_joint" type="fixed">
      <origin xyz="-0.0141 0.0 0.125" rpy="0.0 0.0 0.0" />
      <parent link="${tf_prefix_ext}body_link" />
      <child link="${tf_prefix_ext}camera_link" />
    </joint>

    <link name="${tf_prefix_ext}camera_link" />

    <xacro:range_sensor.vl53lox parent="${tf_prefix_ext}body_link" xyz="0.0926  0.05 0.015"   rpy="0.0 0.0 ${radians(12.5)}"  side="fl" tf_prefix="${tf_prefix}" />
    <xacro:range_sensor.vl53lox parent="${tf_prefix_ext}body_link" xyz="0.0926 -0.05 0.015"   rpy="0.0 0.0 ${radians(-12.5)}" side="fr" tf_prefix="${tf_prefix}" />
    <xacro:range_sensor.vl53lox parent="${tf_prefix_ext}body_link" xyz="-0.0926 0.05 0.0115"  rpy="0.0 0.0 ${radians(167.5)}" side="rl" tf_prefix="${tf_prefix}" />
    <xacro:range_sensor.vl53lox parent="${tf_prefix_ext}body_link" xyz="-0.0926 -0.05 0.0115" rpy="0.0 0.0 ${radians(192.5)}" side="rr" tf_prefix="${tf_prefix}" />

  </xacro:macro>
</robot>
