<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- body defining macro -->
  <xacro:macro name="body" params="wheel_radius">

    <link name="base_link" />

    <joint name="base_to_body_joint" type="fixed">
      <origin xyz="0.0 0.0 ${wheel_radius}" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="body_link" />
    </joint>

    <link name="body_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find rosbot_description)/meshes/body.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.0 0.0 -0.0173" rpy="${pi/2} 0.0 ${pi/2}" />
        <material name="White">
          <color rgba="1.0 1.0 1.0 1.0" />
        </material>
      </visual>

      <collision>
        <geometry>
          <box size="0.197 0.150 0.080" />
        </geometry>
        <origin xyz="0.0 0.0 ${0.040-0.02}" rpy="0.0 0.0 0.0" />
      </collision>

      <inertial>
        <mass value="2.0" />
        <inertia ixx="0.00721" ixy="0" ixz="0" iyy="0.01035" iyz="0" izz="0.01006" />
      </inertial>
    </link>
    <gazebo reference="body_link">
      <material>Gazebo/White</material>
    </gazebo>

    <joint name="body_to_cover_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0603" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="cover_link" />
    </joint>

    <link name="cover_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find rosbot_description)/meshes/cover.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.0 0.0 -0.002" rpy="${pi/2} 0.0 ${pi/2}" />
        <material name="Red">
          <color rgba="0.8 0.0 0.0 1.0" />
        </material>
      </visual>
      <gazebo reference="cover_link">
        <material>Gazebo/Red</material>
      </gazebo>
    </link>

    <joint name="body_to_imu_joint" type="fixed">
      <origin xyz="0.003 -0.0495 0.04332" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="imu_link" />
    </joint>

    <link name="imu_link" />

    <joint name="body_to_camera_joint" type="fixed">
      <origin xyz="-0.0141 0.0 0.125" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="camera_link" />
    </joint>

    <link name="camera_link" />

    <joint name="fl_range_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="0.0926 0.05 0.015" rpy="0 0 0.218 " />
      <parent link="body_link" />
      <child link="fl_range" />
    </joint>

    <link name="fl_range" />

    <joint name="fr_range_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="0.0926 -0.05 0.015" rpy="0 0 -0.218 " />
      <parent link="body_link" />
      <child link="fr_range" />
    </joint>

    <link name="fr_range" />

    <joint name="rl_range_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="-0.0926 0.05 0.0115" rpy="0 0 2.924 " />
      <parent link="body_link" />
      <child link="rl_range" />
    </joint>

    <link name="rl_range" />

    <joint name="rr_range_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="-0.0926 -0.05 0.0115" rpy="0 0 3.360" />
      <parent link="body_link" />
      <child link="rr_range" />
    </joint>
    
    <link name="rr_range" />

  </xacro:macro>
</robot>