<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- body defining macro -->
  <xacro:macro name="body" params="wheel_radius mecanum use_gpu">
    <xacro:include filename="$(find rosbot_description)/urdf/components/vl53lox.urdf.xacro" ns="range_sensor" />

    <link name="base_link" />

    <joint name="base_to_body_joint" type="fixed">
      <origin xyz="0.0 0.0 ${wheel_radius}" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="body_link" />
    </joint>

    <link name="body_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find rosbot_description)/meshes/body.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.0 0.0 -0.0173" rpy="${pi/2} 0.0 ${pi/2}" />
        <material name="White">
          <color rgba="1.0 1.0 1.0 1.0" />
        </material>
      </visual>

      <collision>
        <geometry>
          <box size="0.197 0.150 0.080" />
        </geometry>
        <origin xyz="0.0 0.0 ${0.040 - 0.02}" rpy="0.0 0.0 0.0" />
      </collision>

      <inertial>
        <mass value="1.728" />
        <inertia ixx="0.004162" ixy="0.0"     ixz="0.0"
                                iyy="0.00651" iyz="0.0"
                                              izz="0.008828" />
        <origin xyz="0.0 0.0 ${0.040 - 0.02}" rpy="0.0 0.0 0.0" />
      </inertial>
    </link>
    <gazebo reference="body_link">
      <material>Gazebo/White</material>
    </gazebo>

    <joint name="body_to_cover_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0603" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="cover_link" />
    </joint>

    <link name="cover_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find rosbot_description)/meshes/cover.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0.0 0.0 -0.002" rpy="${pi/2} 0.0 ${pi/2}" />
        <material name="Red">
          <color rgba="0.8 0.0 0.0 1.0" />
        </material>
      </visual>
      <gazebo reference="cover_link">
        <material>Gazebo/Red</material>
      </gazebo>
    </link>

    <joint name="body_to_imu_joint" type="fixed">
      <origin xyz="0.003 -0.0495 0.04332" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="imu_link" />
    </joint>

    <link name="imu_link" />

    <joint name="body_to_camera_joint" type="fixed">
      <origin xyz="-0.0141 0.0 0.125" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="camera_link" />
    </joint>

    <link name="camera_link" />

    <xacro:range_sensor.vl53lox parent="body_link" xyz="0.0926  0.05 0.015"   rpy="0.0 0.0 ${radians(12.5)}"  prefix="fl" />
    <xacro:range_sensor.vl53lox parent="body_link" xyz="0.0926 -0.05 0.015"   rpy="0.0 0.0 ${radians(-12.5)}" prefix="fr" />
    <xacro:range_sensor.vl53lox parent="body_link" xyz="-0.0926 0.05 0.0115"  rpy="0.0 0.0 ${radians(167.5)}" prefix="rl" />
    <xacro:range_sensor.vl53lox parent="body_link" xyz="-0.0926 -0.05 0.0115" rpy="0.0 0.0 ${radians(192.5)}" prefix="rr" />

  </xacro:macro>
</robot>