<?xml version='1.0'?>
<robot name="rosbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="components_config" default="$(find rosbot_description)/config/rosbot/basic.yaml" />
  <xacro:arg name="controller_config" default="" />
  <xacro:arg name="mecanum" default="false" />
  <xacro:arg name="namespace" default="" />
  <xacro:arg name="use_sim" default="false" />

  <xacro:include filename="$(find rosbot_description)/urdf/rosbot/rosbot_macro.urdf.xacro" ns="husarion" />
  <xacro:include filename="$(find husarion_components_description)/urdf/components.urdf.xacro" ns="components" />

  <xacro:husarion.rosbot
    controller_config="$(arg controller_config)"
    mecanum="$(arg mecanum)"
    namespace="$(arg namespace)"
    use_sim="$(arg use_sim)" />

  <xacro:components.create_components
    components_config_path="$(arg components_config)"
    namespace=""
    use_sim="$(arg use_sim)" />

</robot>
