<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find rosbot_gazebo)/launch/world.launch"/>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find rosbot_description)/urdf/rosbot.xacro'"/>

    <node name="rosbot_spawn_first" pkg="gazebo_ros" type="spawn_model" output="log" args="-urdf -param robot_description -model rosbot_s -y 0 -namespace first/search_controller">
    </node>

    <node name="rosbot_spawn_second" pkg="gazebo_ros" type="spawn_model" output="log" args="-urdf -param robot_description -model rosbot -y 2.5 -namespace second/search_controller">
    </node>

    <node pkg="tutorial_pkg" type="mission_controller_node" name="mission_controller" output="screen">
    </node>

    <node ns="first/search_controller" pkg="find_object_2d" type="find_object_2d" name="find_object_2d">
        <remap from="image" to="camera/rgb/image_raw"/>
        <param name="gui" value="true"/>
        <param name="objects_path" value="$(find tutorial_pkg)/image_rec/"/>
    </node>

    <node ns="first" pkg="tutorial_pkg" type="search_controller_node" name="search_controller" output="screen">
        <param name="objectID" value="8"/>
        <param name="homeID" value="12"/>
    </node>

    <node ns="second/search_controller" pkg="find_object_2d" type="find_object_2d" name="find_object_2d">
        <remap from="image" to="camera/rgb/image_raw"/>
        <param name="gui" value="true"/>
        <param name="objects_path" value="$(find tutorial_pkg)/image_rec/"/>
    </node>

    <node ns="second" pkg="tutorial_pkg" type="search_controller_node" name="search_controller">
        <param name="objectID" value="6"/>
        <param name="homeID" value="11"/>
    </node>

</launch>
