name: "Check PR description bump"
on: [pull_request]

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
    - name: Check PR
      uses: JJ/github-pr-contains-action@releases/v10
      with:
        github-token: ${{github.token}}
        bodyContains: "bump::patch|bump::minor|bump::major"