<?xml version="1.0" ?>
<model>
    <name>ROSbot</name>
    <version>1.0</version>
    <sdf version="1.6">rosbot.sdf</sdf>
    <author>
        <name>Łukasz Mitka</name>
        <email>lukasz.mitka@husarion.com</email>
    </author>
    <description>ROSbot model made by Husarion.</description>
</model>
